/* Default HTML Styles */

body {
  /*background-image: url();*/
  background-color: rgb(5, 23, 39);
  background-size: auto 100%;
  background-repeat: no-repeat;
}


/* Bootstrap Overrides */

nav.bg-dark {
 background-color: rgb(5, 23, 39) !important; 
}

/* Page Specific Styles */

div.pMain {
  margin-top: 70px;
}

.pHighlight {
  color: white !important;
  background: linear-gradient(8deg, #D84332, #D6311B, #B3282D);
}