@font-face {
  font-family: 'Gotham';
  src: url('https://cdn.glitch.global/b2c32b66-c81e-44db-add1-e0ac2a743e65/GothamLight.woff2?v=1697096633665') format('woff2');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('https://cdn.glitch.global/b2c32b66-c81e-44db-add1-e0ac2a743e65/GothamBook.woff2?v=1697096637701') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('https://cdn.glitch.global/b2c32b66-c81e-44db-add1-e0ac2a743e65/GothamBold.woff2?v=1697096642113') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* Default HTML Styles */

body {
  /*background-image: url();*/
  background-color: rgb(5, 23, 39);
  background-size: auto 100%;
  background-repeat: no-repeat;
  font-family: 'Gotham', sans-serif;
  font-weight: light;
}

h1 {
  font-weight: normal;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: white;
  line-height: 2em;
  font-size: 20px;
}

a:hover {
  color: lightgrey;
}

/* Bootstrap Overrides */

nav.bg-dark {
 background-color: rgb(5, 23, 39) !important; 
}

button.nav-link {
  color: black;
}

button.nav-link:hover {
  color: grey;
}

/* Page Specific Styles */

div.pMain {
  margin-top: 10vh;
}

div.pHighlight {
  color: white !important;
  background: linear-gradient(8deg, #D84332, #D6311B, #B3282D);
  padding: 20px;
  height: 60vh;
}

div.pLight {
  background-color: white;
  padding: 20px;
  height: 60vh;
  height: 100%;
}

.pRight {
  text-align: right;
}

.pCenter {
  text-align: center;
}

.pMiddle {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
}

button.pJumboButton {
  margin-top: 10px;
  height: 3em;
  /*width: 50%;*/
  font-size: 1.25em;
  background-color: white;
  border: 2px;
  border-style: solid;
  border-color: #505D68;
  color: #505D68;
  border-radius: 0;
}

button.pJumboButton:hover {
  margin-top: 10px;
  height: 3em;
  /*width: 50%;*/
  font-size: 1.25em;
  background-color: #505D68;
  border: 2px;
  border-style: solid;
  border-color: #505D68;
  color: white;
  border-radius: 0;
}

button.pJumboButton:active {
  margin-top: 10px;
  height: 3em;
  /*width: 50%;*/
  font-size: 1.25em;
  background-color: #505D68 !important;
  border: 2px;
  border-style: solid;
  border-color: #505D68 !important;
  color: white;
  border-radius: 0;
}

.rawToken {
  font-family: monospace;
  font-size: .85em;
  overflow-wrap: break-word;
}