/* Default HTML Styles */

html,body {
  margin: 0;
  height: 100%;
}


body {
  /*background-image: url();*/
  background-color: #051727;
  background-size: auto 100%;
  background-repeat: no-repeat;
}
